
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    font-family: "Poppins", "sans-serif";
}

/* Index */

body {
    overflow-x: hidden;
}

#navbarNavDesktop li{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
     font-size: calc(0.5rem + 1vw);
    font-weight: 500 !important;
}

.imgCompany{
    width: 10vw;
    padding: 10px;
}

.btnSignIn button{
    width: 100%;
    font-size: 1.5rem ;
}

.btn-primary{
    background-color: rgb(31, 105, 189);
    border-color: rgb(31, 105, 189);
    width: 6rem;
}

.mobile{
    display: none;
}

#navbarNav {
    width: 100%;
}

#listaNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 1rem;
    justify-content: space-around;
    font-size: calc(0.5rem + 1vw);
}


.btnSignInDesktop{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
}


.mobile a{
    font-size: large;
    font-weight: 400;
    padding-left: 1rem;
}

.mobile .imgCompany{
    padding: 10px;
    width: 14vw;
}

/* Main Menú */


.containerMenu{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.mainMenuDesktop{
    background-image: url(./Images/mainImage1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 35rem;
    width: 100%;
    opacity: 0.8;
    filter: brightness(0.8);
}

.btn-outline-success{
        background-color: rgb(15, 40, 69);
        border-color: rgb(15, 40, 69);
        width: 6rem;
    }


.Home{
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: center
}

.mainMenuTitle{
    color: white;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 5px 6px black);
    font-size: x-large;
}

#menuTitle{
    width: 100%;
}

#menuSearch{
    width: 100%;
}

#menuSearchBox{
    display: flex;
    justify-content: center;
    padding-bottom: 20px !important;
}

#formSearch{
    width: 40%;
    height: 3rem;
}

#formControl{
    font-size: 1.5rem !important;
}


/* MainMenu Mobile */

.mainMenuMobile{
    display: none;
    background-image: url(./Images/mainImage1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30rem;
    width: 100%;
    opacity: 0.8;
    filter: brightness(0.8);
}

.secondListMenuMobile{
    display: none;
}

.geoListMenuMobile {
    display: none;
}


@media only screen and (max-width: 992px) {
    .mainMenuMobile {
        display: block 
    }
    .mainMenuDesktop {
        display: none;
    }
    .secondListMenuMobile{
        display: block;
    }
    .secondListMenu{
        display: none;
    }
    .geoListMenuMobile{
        display: block;
    }
    .geoListMenu{
        display: none;
    }
}
.containerMenuMobile{
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: center
}

#mainMenuBoxMobile{
    margin: 1vh;
    display: flex;
    align-items: center;
}

#menuTitleMobile{
    width: 100%;
}

#menuSearchMobile{
    width: 100%;
    display: flex;
    justify-content: center;
}

#menuSearchBoxMobile{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.mainMenuTitleMobile{
    font-size: 6vw;
    width: 100%;
    color: white;
    filter: drop-shadow(2px 5px 6px black);
}

#formSearchMobile{
    width: 100%;
}

/* SecondMainMenu */
.secondSectionMainMenuTittle{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-size: calc(2rem + 1vw); 
  padding-bottom: 20px;
}


.containerSecondMenu img{
    width: 400px;
    height: 350px;
    border-radius: 20px;
}

.containerSecondMenu h3{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: calc(1rem + 1vw);
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
}

.containerSecondMenu .col{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}

.containerSecondMenu p{
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-left: 2vw;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 20px;
}

h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-size: 2rem;
}

/* Third Main Menu */

.thirdMainMenu{
    background-color: #07223e;
    margin-top: 8vh;
    border-radius: 20px;
    margin: 2rem;
}

.geologicalServiceImage{
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
}

#thirdMenuGrid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    justify-content: space-evenly;
    color: white;
}

#thirdMenuGrid h2{
    font-weight: 700;
    font-size: 1.5vw;
}

#thirdMenuGrid h3{
    font-size: 1.5vw;
    font-weight: 500;
}

#thirdMenuGrid p{
    font-size: 1vw;
    font-weight: 300;
}

#thirdMenuGrid .btn-primary{
    color: white;
    width: 100%;
    color: white;
    width: 80%;
    font-size: 1.5em
}

.thirdGridButton{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.thirdGridButton a{
    width: 100%;
}

/* Fourth Menu */

.containerFourthMenu img{
    width: 150px;
    height: 130px;
}

.containerFourthMenu{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 6vw;

}

.containerFourthMenu .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.containerFourthMenu .col{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.containerFourthMenu h3{
    padding: 10px;
    font-size: 2.5vh;
}

.containerFourthMenu h2{
    padding: 12px;
    margin-top: 2vh;
    font-size: 3vh;
}


.containerFourthMenu button {
    margin-top: 5vh;
    width: 100%;
    font-size: 1.5rem;
}

#h3FourthMenu {
    padding: 10px;
}

#h2FourthMenu {
    padding: 6px;
}

/* Fifth Menú */
.fifthMainMenu h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.carouselMenu h2 {
    color: white;
    font-weight: 500;
    font-size: 2.5vh;
    padding: 10px;
}

.carouselMenu p{
    color: white;
    font-size: 2vh;
    padding: 20px;
    object-fit: contain;
    font-weight: 300;
}

.carouselMenu span{
    color: white;
    margin-top: 2vh;
    font-size: 2vh;
    font-weight: 200;
}

.card img{
    width: 60px;
    height: 50px;
}

.carouselMenu {
    
    width: 100%;
}

.carouselMenu .carousel{
    display: grid;
    grid-auto-columns: max-content;
    gap: 16px;
    margin-right: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.carousel .card{
height: 50vh;
 list-style: none;
 background:  #07223e;
 border-radius: 8px;
 padding-bottom: 15px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
}

/* Sign In Page */
  

#bodySignIn {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


.form-signin {
    width: 100%;
    max-width: 30%;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #btnSignIn{
    width: 80%;
    margin-top: 2vh;
    font-size: smaller;
  }

#signInH1{
    margin-top: 2vh;
    font-size: 1.5rem;
}

.desktopSign{
    width: 100%;
}

#emailBoxSignIn{
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.form-signin label{
    font-size: 1vh;
    font-weight: 300;
}

#passwordBoxSignIn{
    margin-bottom: 5vh;
}    

.registerBox{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox label{
    font-size: 1rem;
    font-weight: 400;
}

.checkbox input{
    height: 1vh;
    width: 3vw;
}

.spanRegister{
    padding-right: 30px;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

#btnRegisterBox{
    width: 40%;
    font-size: 1rem;
    text-decoration: none;
    font-style: normal;
}

.btnRegisterH{
    text-decoration: none;
    color: #f5f5f5;
}
.forgetPassword{
    font-size: 1.5vh;
}

/* Test Register Page */
/* Estilos específicos para la página del formulario */

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: x-large;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerForm{
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    display: grid;
    margin: 2vw;
    
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    width: 40%;
    gap: 60px;
    margin-top: 4vh;
    margin-left: 2vw;
}

.toggle-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 48%;
    text-align: center;
}

.toggle-btn.active {
    background-color: #0056b3;
}

.toggle-btn:not(.active) {
    background-color: rgb(31, 105, 189)
}

.toggle-btn:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}


input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.checkboxTitle{
    font-size: x-large;
}

.checkbox-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-group label{
    font-size: x-large;
    font-weight: normal;
}

.form-signUp{
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-signUp label{
    font-weight: normal;
}

.form-signUp button{
   width: 40%;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.submit-btn:hover {
    background-color: #0056b3;
}

#signUp{
    font-size: 1rem;
    width: 100%;
}

/* Find a Geo 

Main Menu */

.findGeotitle{
    font-size: 2rem;
}

.ListMenu{
    background: #07223e;
}

#ListMenuGrid{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 2vw;
}

#ListMenuGrid p{
    width: 100%;
    text-align: justify;
}


.ListGridMenu{
    width: 100%;
    margin-top: -15px;
    display: flex;
    justify-content: center;
}

.ListGridMenu button{
    width: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Second List Menu */

.circleList{
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color:  #11447a;
    color: white;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: 700;
}

.containerSecondList h3{
        font-size: 1.5rem;
        font-weight: 500; 
    }

    .containerSecondList p{
        font-size: 1rem;
        font-weight: 300; 
        margin-top: 2vh;
    }

.containerSecondList .row{
    padding: 2vw;
    gap: 40px
    ;
}

.containerSecondList .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

.listButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listButton .btn{
    width: 18%;
    font-size: xx-large;
}

.thirdListMenu{
    margin-top: 10vh;
}

.listButton a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    font-size: x-large;
}

/* Gallery */

.galleryMenu{
    margin: 1rem;
}

.gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8vh;
    margin-bottom: 8vh;
    gap: 5vw;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 450px;
    height: 300px;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item div{
    font-size: 1vw;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item-caption {
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* FormGeoFinder */

.form-group{
    margin: 2vh;
}

#target-container{
    max-width: 100% !important;
    padding: 80px;
}

#target-container h2{
    font-size: x-large;
    font-weight: 400;
}

#geologicalForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 4vh;
}

#target-container .row{
    font-size: x-large;
    
}

#target-container label{
    font-weight: 400;
}

#geologicalForm button{
width: 20%;
color: white;
font-size: 1.2rem;
font-weight: 600;
text-decoration: none;
}

#formCheckBoxFindGeo{
    margin: 2vh;
}


/* Review Swipper */

.containerReview{
    padding: 80px;
}

#testimonialReview{
    padding: 50px;
}

.containerReview{
    margin: 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.testimonial{
    position: relative;
    width: 100%;
    padding: 50px 0px;
    row-gap: 30px;
}

.testimonialContent img{
    height: 600px;
    width: 500px;
    object-fit: contain;
    border-radius: 50%;
}

.testimonialContent .slideReview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slideReview p{
    padding: 0px 160px;
    text-align:center;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
}

.slideReview .detailsReview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideReview .nameReview{
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.slideReview .jobReview{
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
  }

  .slideReview .quote-icon{
    font-size: 1rem;
    color: #4070f4;
  }

/*  Find Work  */

.geoMain{
    height: 50vh;
}

.geoMain img{
    width: 100%;
    height: 64vh;
}

.geoListMenu h1{
margin-top: 10vh;
}

.geoListMenu{
    margin-top: 2vh
}

.containerGeoList .row{
    padding: 40px;
    gap: 60px; 
}


.containerGeoList .col{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}
.containerGeoList h3{
    font-size: 1.5rem;
    font-weight: 500; 
}

.containerGeoList p{
    font-size: 1rem;
    font-weight: 300; 
    margin-top: 2vh;
}


.secondListMenu{
    margin-top: 2vh;
}

.listButton{
    margin-top: 5vh;
}

.listButton a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geoFormMain{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3vw;
    gap: 2vw;
}

.geoForm1{
    width: 50%;
}

.geoForm2{
    width: 50%;
    margin-right: 2vw;
}

.geoFormMain form{
    padding-top: 20px;
}

.geoForm div{
    padding-bottom: 20px;
}

/* FindWork Form */

#advertiseForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3vh;
}

#advertiseForm button{
    width: 20%;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}


/* Home Page */

.logoCompanyHome{
    margin: 5px;
    margin-right: 3%;
}

.userOn img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.homeMenu{
    margin-right: 2vw;
}

.card{
    margin-bottom: 3vh;
}

#containerHomeMenu h5{
    font-size: 2.5vh;
}

#containerHomeMenu p{
    font-size: 0.8vw;
    font-weight: 300;
}

#containerHomeMenu a{
    font-size: larger;
}

#navbarSupportedContent{
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
        width: 100%;
}

#navHome{
    font-size: x-large;
    font-weight: 400;
}


#navbarSupportedContent form{
width: 40%;
height: 3vh;
}

#containerHomeMenu {
    width: 100%;
    margin: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.homeFormDetails .mb-3{
    margin-bottom: 3vh !important;
}


.geoFormHome{
    width: 100%;
    margin-bottom: 5vh;
}

#formHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 50px;
}

.geoFormHome div{
    width: 100%;
}

.homeFormDetails label{
    font-size: x-large;
    font-weight: 400;
}

#navbarNavHome{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userOnHome img{
    width: 100px;
    height: 90px;
    object-fit: cover;
}

.geoFormHome label{
    font-size: x-large;
    font-weight: 400;
}


/* Mobile Home */

.mobile ul{
    gap: 1rem;
}

#nav-itemSearchHome div{
    display: flex !important;
    flex-basis: auto;
    width: 100%;
}

#nav-itemSearchHome form{
    width: 100%;
}

.userOnHomeMobile img{
    width: 50px;
    height: 50px;
    object-fit: cover
}

/* Sub Menu Header Section */

.sub-menu-wrap .open-menu{
    max-height: 600px;
}

.sub-menu{
    background: #e0e4e7;
    display: flex;
    justify-content: flex-start;
    height: 15vh;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 100%;
    margin: 2vw;
}


.user-info h3{
    font-weight: 500;
    margin-bottom: 0vh;
}

user-info  img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0px;
    height: 3px;
    width: 100%;
    background: #0d0c0c;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 15px 20px;
    font-size: x-large;
}

.sub-menu-link p{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.sub-menu-link img{
    width: 50px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px)
}

.sub-menu-link:hover p{
    font-weight: 600;
}

/* Footer */

#footerDesign h5{
   
}

#footerDesign p{
    font-size: 1rem;
}


.contact-item{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    gap: 20px;
}

.contact-item img{
    width: 30px;
    height: 25px;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .mobile {
        display: block 
    }
    .desktop {
        display: none;
    }

    /* Mobile Main Page */

    .secondSectionMainMenuTittle{
        display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: calc(1.5rem + 1vw);
    padding-bottom: 20px;
    }

    .containerSecondMenu img {
        width: 360px;
        height: 320px;
        border-radius: 20px;
    }

    .containerThirdMenu .row{
        display: flex;
        flex-direction: column-reverse;
    }

    #thirdMenuGrid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        justify-content: space-evenly;
        color: white;
        gap: 10px;
    }

    #thirdMenuGrid h2 {
        font-weight: 700;
        font-size: calc(1rem + 1vw);
    }

    #thirdMenuGrid h3 {
        font-size: calc(0.8rem + 1vw);
        font-weight: 500;
    }

    #thirdMenuGrid p {
        font-size: calc(0.6rem + 0.6vw);
        font-weight: 300;
    }

    .thirdGridButton{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .thirdGridButton a{
        display: flex;
        justify-content: center;
    }

    #thirdMenuGrid .btn-primary {
        color: white;
        width: 100%;
        color: white;
        width: 80%;
        font-size: 1.2rem;
    }
    .containerFourthMenu button {
        margin-top: 5vh;
        width: 100%;
        font-size: 1rem;
    }


/* Sign In Mobile Page */

.gallery-item img {
    width: 300px;
    height: 260px;
    display: block;
    transition: transform 0.3s ease;
}
.gallery-item div {
    font-size: calc(1rem);
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
    max-width: 60%;
}

#signInH1 {
    font-size: calc(1vw + 1rem);
}
.form-signin label {
    font-size: 1rem !important;
    font-weight: 300;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    height: 12px;
}

.spanRegister {
    padding-right: 30px;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

/* Find Geo Page */

.findGeoTitle {
    font-size: 1.5rem !important;
}

.containerSecondListDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}

.containerSecondListDiv h3{
    font-size: 1.2rem;
}

.paragraphFindGeo{
    margin: 1.5rem;
    font-weight: 300;
}

.listButton .btn {
    width: 30%;
    font-size: 1rem;
}

.gallery{
    display: flex;
    flex-direction: column;
}

.testimonialContent img {
    height: 280px;
    width: 300px;
    object-fit: contain;
    border-radius: 50%;
}

.slideReview p {
    padding: 0px 160px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.slideReview .nameReview {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.slideReview .jobReview {
    font-size: 0.8rem;
    font-weight: 400;
    color: #333;
}
}


 /* Container for the form input and the tick */
 .form-section div {
    position: relative;
  }
  
  input {
    padding-right: 30px; /* Leave space on the right for the tick */
  }
  
  #emailTick, #passwordTick, #confirmEmailTick, #confirmPasswordTick {
    position: absolute;
    right: 10px; /* Position it inside the input field */
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: green; /* Tick color */
    pointer-events: none; /* So the tick doesn't interfere with input focus */
  }
  
  /* Ensure the ticks only appear when needed */
  #emailTick, #passwordTick, #confirmEmailTick, #confirmPasswordTick {
    display: none;
  }

  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccce9;
  color: #666666;
  
}

button:disabled,
button[disabled]:hover disabled {
    background-color: #cccc;
}



/* Pop ups */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1.5px solid rgb(31, 105, 189); /* Blue border */
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

.close {
    /*color: rgb(31, 105, 189); /* Blue close button */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred; /* Dark red on hover */
    text-decoration: none;
    cursor: pointer;
}

